@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap'); 
:root {
    --shadow-color:purple; 
    --text-bg-color: white; 
    --text-color:black; 
    --sale-color:red; 
    --mob-text-bg-color:rgb(175, 175, 175); 
}

.sale, .promo_new_balance, .promo_nike, .sneakers, .news{
    margin-bottom: 50px;
    margin-top: 50px;
}
.carousel-caption {
    color: var(--text-color);
}
.menu {
    font-size: 1.1rem;
}
.nav-item{
    margin-left: 50px;
}
.navbar{   position: fixed;   top: 0;   left: 0;   z-index: 9999;   width: 100%;   height: 50px;   background-color: #00a087; }
h1{
    display: none;
}
hr{
    color: var(--text-color);
    border: none;
    background-color: var(--text-color);
    height: 1px;
}
body{
    scroll-behavior: smooth;
    font-family: 'Architects Daughter', cursive;
}
body a:hover{
    text-decoration: none;
    color: var(--text-color);
}
body a{
    text-decoration: none;
    color: var(--text-color);
}

h1,h2,p,div {
    margin: 0;
    padding: 0;
    
}
.curent-page,a:hover,.promo_new_balance h2:hover, .promo_nike h2:hover,.header-sneakers:hover,.header-news:hover {
    text-shadow: 0 0 1em var(--shadow-color);
}
.sale h2 {
    width: 40%;
    display: grid;
    justify-content: center;
    background-color: var(--text-bg-color);
    margin-left: 30%;
    margin-top: 0%;
    margin-bottom: 5px;
}
.sale button,.sneakers button {
    display: block;
    text-align: center;
    margin: 10px auto 0px auto;
    font-family: 'AldRich';
    color: var(--sale-color);
}
.sneakers button{
    color: var(--text-color);
    margin-bottom: 20px;
}

.navbar-brand, h1 {
    font-family: 'Aldrich', sans-serif;
    font-size: 34px;
    text-align: left;
    text-shadow: 0 0 1em var(--shadow-color);
}

main .promo_nike img {
    animation: fade-in 4s ease;
    width: 100% ;
}
main .promo_nike button,.promo_new_balance button {
    animation: fade-in 2s ease;
    width: 100%;
}
main .promo_new_balance img {
    animation: fade-in 4s ease;
    width: 100% ;
}
.top,.sale h3 {
    display: none;
}
.sneakers {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.sneakers img {
    width: 100%;
}
.promo_new_balance h2, .promo_nike h2,.header-sneakers,.header-news{
    display: block;
    text-align: center;
}
.social-icons img,footer nav img{
    height:25px;
    margin-left: 10px;
}
.social{
    display: flex;
    justify-content: start;
    margin-left: 10px;
    margin-top:10px;
}
footer{
    background-color: rgb(100, 100, 100);
}
footer nav{
    margin-left: 10px;
    padding-top: 10px;
}
footer div{
    display: flex;
    justify-content: space-between;
}
footer h2{
    padding-top: 50px;
    margin-right: 60px;
    font-family: 'Aldrich';
    text-shadow: 0 0 0.5em var(--text-color);
    font-size: 50px;

}
footer h6{
    margin: 0%;
    text-align: right;
    margin-right: 5px;
}
.news img{
    width: 50%;
    height: 100%;
}
.news{
    font-size: 20px;
    margin-top:20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.first-column div,.second-column div{
    display: flex;
    margin:10px 10px 10px 10px;

}

@media (max-width: 700px) {
    .top {
        display: block;
        visibility: hidden;
    }
    h1{display: block;}
    .sale h2,.header-sneakers,.header-news {
        width: 100%;
        margin: 0%;
        background-color: var(--mob-text-bg-color);
        border-top:1px solid var(--text-color);
        border-bottom: 1px solid var(--text-color); 
    }

    .sale button, .sneakers button {
        width: 5rem;
        height: 2rem;
        font-size: 1rem;
    }

    body {
        border: 1px solid var(--text-color);
    }
    .sale h3 {
        display: block;
        width: 50%;
        left: 50%;
        margin-left: 25%;
        margin-top: 15px;
        text-align: center;
        margin-bottom: 0;
    }

    .second-column,.sneakers .medium-screen-sneakers,header .menu,.hide-sale,footer div nav,footer h2{
        display: none;
    }
    .sneakers{
        border-bottom: 1px solid var(--text-color);
    }
    .social-icons img{
        height: 70px;
    }
    footer h6{
        font-size: 1rem;
        text-align: center;
    }
    .social{
        justify-content: space-around;
    }
    footer{
        background-color: var(--text-bg-color);
    }
    .news div div,.sneakers div {
        border: 1px solid var(--text-color);
    }
    .sneakers div{
        border: 1px solid var(--text-color);
        margin: 10px 10px 10px 10px;
    }
}

@media (max-width: 1200px) {
    .sneakers .wide-screen-sneakers {
        display: none;
    }
}
@media (max-width: 450px) {
    .small-screen-sneakers {
        display: none;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}